.chart-wrap{
    position: relative;
    padding: 5%;
}
.circle-graph{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.chart{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: 0.3s;
}

span.center{
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

button{
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}